<div class="ui fixed inverted menu">
  <div class="ui container">
    <%= link_to root_path, class: "header item" do %>
      <%= image_tag "beer_logo.png", class: "logo" %>
      Pub Compass
    <%end%>

    <div class="right menu">
      <% if @current_user %>
        <% text = "#{@current_user.name} - Sign out"%>
      <%end%>
      <% unless @current_user %>
        <%= link_to "Add user", signup_path, class: "item" %>
        <%= link_to "Signin", signin_path, class: "item" %>
      <% end %>
      <% if @current_user %>
        <%= link_to "Add venue", new_place_path, class: "item"%>
        <%= link_to text, signout_path, class: "item", method: "delete" %>
      <% end %>

    </div>
  </div>
</div>
