<%= form_for( @place, :html => {:multipart => true} ) do |p| %>
  <!-- the part after @place is to be able to upload images -->
  <%= render partial: "includes/form_errors", locals: {form: p} %>
  <div class="ui input focus">
    <div>
      <h3>Provide the following info to add your cool place!</h3>
      <p>
        <%= "Place name" %>
      </p>
        <%= p.text_field :name %>
      </p>
      <!-- this will store the image -->
      <p>
        <%= p.label "Image" %>
      </p>
      <p>
        <%= p.cl_image_upload :image %>
      </p>
      <h4> Address </h4>
      <p>
        <%= "Suite / Apartment Number" %>
      </p>
      <p>
        <%= p.text_field :int_number %>
      </p>
      <p>
        <%= "Street Number" %>
      </p>
      <p>
        <%= p.text_field :street_number %>
      </p>
      <p>
        <%= "Street Name" %>
      </p>
      <p>
        <%= p.text_field :street_name %>
      </p>
      <p>
        <%= "Suburb" %>
      </p>
      <p>
        <%= p.text_field :suburb %>
      </p>
      <p>
        <%= "State" %>
      </p>
      <p>
        <%= p.text_field :state %>
      </p>
      <p>
        <%= "Postcode" %>
      </p>
      <p>
        <%= p.text_field :postcode %>
      </p>
      <p>
        <%= "Country" %>
      </p>
      <p>
        <%= p.text_field :country %>
      </p>


      <!-- show all the features -->
      <h3> Features found in venue</h3>
      <% @features.each do |f| %>
        <p>
          <div class="ui checkbox">
              <%= check_box_tag "features[#{ f.id }]", true, @place.features.include?( f ) %>
            <label><%= f.feature_name %> </label>
          </div>
        </p>
      <%end%>
      <p><%= p.submit "Save" %><p/>
    </div>
  </div>
<% end%>
