<%= form_for @place do |p| %>
  <%= render partial: "includes/form_errors", locals: {form: p} %>
  <div class="ui input focus">
    <div>
      <h3>Provide the following info to add your cool place!</h3>
      <p>
        <%= "Place name" %>
      </p>
        <%= p.text_field :name %>
      </p>
      <h4> Address </h4>
      <p>
        <%= p.label :int_number %>
      </p>
      <p>
        <%= p.text_field :int_number %>
      </p>
      <p>
        <%= "Number" %>
      </p>
      <p>
        <%= p.text_field :street_number %>
      </p>
      <p>
        <%= "Street" %>
      </p>
      <p>
        <%= p.text_field :street_name %>
      </p>
      <p>
        <%= "Suburb" %>
      </p>
      <p>
        <%= p.text_field :suburb %>
      </p>
      <p>
        <%= "State" %>
      </p>
      <p>
        <%= p.text_field :state %>
      </p>
      <p>
        <%= "Postcode" %>
      </p>
      <p>
        <%= p.text_field :postcode %>
      </p>
      <p>
        <%= "Country" %>
      </p>
      <p>
        <%= p.text_field :country %>
      </p>
      <p>
        <%= "Geo-location" %>
      </p>
      <p>
        <%= p.text_field :geo_location %>
      </p>


      <!-- show all the features -->
      <h3> Features found in venue</h3>
      <% @features.each do |f| %>
        <p>
          <div class="ui checkbox">
              <%= check_box_tag "features[#{ f.id }]", true, @place.features.include?( f ) %>
            <label><%= f.feature_name %> </label>
          </div>
        </p>
      <%end%>
      <p><%= p.submit "Save" %><p/>
    </div>
  </div>
<% end%>
