<h1> Cool places in Sydney </h1>



<div class="ui grid">
  <div class="six wide column sidebar-scroll">
    <div class="ui items">
      <% @places.each do |place| %>
        <div class="item">
          <div class="ui tiny image">
            <%= cl_image_tag place.image %>
          </div>
          <div class="middle aligned content">
            <%= link_to place.name, place_path(place.id) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="ten wide column">
    <div id="map"></div>
  </div>
</div>


<!-- ###################### map test   -->


<script>
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 13,
      center: {lat: -33.8697753, lng: 151.2059688}
    })
    var places = [
      <%@places.each do |location|%>
        ['<%= location.name %>', <%= location.latitude%>, <%= location.longitude %>],
      <%end%>
    ];
    places.forEach(function(location){
      new google.maps.Marker({
        map: map,
        position: {lat: location[1], lng: location[2]},
        title: location[0]
      });
    })
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSawZrR6b_qDsmiGyxDwf65TpYlrdUz6o&callback=initMap">
</script>
