
<h1><%= @place.name %></h1>

<% if @current_user %>
  <div class="ui buttons">
    <button class="ui button"><%= link_to "Delete Venue", place_path(place_id: @place.id), method: :delete %></button>
    <button class="ui button"><%= link_to "Edit Venue", edit_place_path(place_id: @place.id)%></button>
  </div>
<%end%>

<p> </p>

<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <div class="ui accordion">
            <div class="title">
              <i class="dropdown icon"></i>
              Address
            </div>
            <div class="content">
              <p class="transition visible" style="display: block !important;">
                <%= "#{@place.int_number}  #{@place.street_number}  #{@place.street_name}, #{@place.suburb}"  %>
              </p>
              <p class="transition visible" style="display: block !important;">
                <%= "#{@place.state}  #{@place.postcode} #{@place.country}"  %>
              </p>
            </div>
            <div class="title">
              <i class="dropdown icon"></i>
              Contact
            </div>
            <div class="content">
              <p class="transition hidden">
                <%= "Venue owner: #{User.find(@place.user_id).name}"%>
              </p>
              <p class="transition hidden">
                <%= "Email: #{User.find(@place.user_id).email}"%>
              </p>
            </div>
          </div>
          <h3> Features you can find here: </h3>

          <!-- ##### -->
          <table class="ui very basic table">
            <tbody>
              <% @place.features.each do |fe| %>
                <tr>
                  <td><%= link_to fe.feature_name, feature_path(fe.id) %>  </td>
                  <% if @current_user %>
                    <td>
                      <!-- The dont like button -->
                      <%= form_for @review, url: reviews_path(place_id: @place.id, feature_id: fe.id, user_id: @current_user.id, like: false), method: :post do |r| %>
                      <button class="ui basic icon button">
                        <i class="thumbs outline down icon"></i>
                      </button>
                      <% end%>
                    </td>
                    <td class="likesCount">
                      <%= fe.review_counts[false] || 0 %>
                    </td>

                    <td>
                      <!-- The like button -->
                      <%= form_for @review, url: reviews_path(place_id: @place.id, feature_id: fe.id, user_id: @current_user.id, like: true), method: :post do |r| %>
                        <button class="ui basic icon button">
                          <i class="thumbs outline up icon"></i>
                        </button>
                      <% end%>
                    </td>
                    <td class="likesCount">
                      <%= fe.review_counts[true] || 0 %>
                    </td>
                  <%end%>
                <tr>
              <%end%>
            </tbody>
          </table>


          <!-- ##### -->
        </div>
        <div class="six wide right floated column">
          <%= cl_image_tag @place.image %>
          <!-- <img src="https://static.pexels.com/photos/26906/pexels-photo-26906.jpg" class="ui large bordered rounded image"> -->
        </div>
      </div>
    </div>
  </div>
