
<h1><%= @place.name %></h1>

<% if @current_user %>
  <div class="ui buttons">
    <button class="ui button"><%= link_to "Delete Venue", place_path(place_id: @place.id), method: :delete %></button>
    <button class="ui button"><%= link_to "Edit Venue", edit_place_path(place_id: @place.id)%></button>
  </div>
<%end%>

<p> </p>

<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <div class="ui accordion">
            <div class="title">
              <i class="dropdown icon"></i>
              Address
            </div>
            <div class="content">
              <p class="transition visible" style="display: block !important;">
                <%= "#{@place.int_number}  #{@place.street_number}  #{@place.street_name}, #{@place.suburb}"  %>
              </p>
              <p class="transition visible" style="display: block !important;">
                <%= "#{@place.state}  #{@place.postcode} #{@place.country}"  %>
              </p>
            </div>
            <div class="title">
              <i class="dropdown icon"></i>
              Contact
            </div>
            <div class="content">
              <p class="transition hidden">
                <%= "Venue owner: #{User.find(@place.user_id).name}"%>
              </p>
              <p class="transition hidden">
                <%= "Email: #{User.find(@place.user_id).email}"%>
              </p>
            </div>
          </div>
          <h3> Features you can find here: </h3>
          <ul>
            <% @place.features.each do |fe| %>
            <li><%= link_to fe.feature_name, feature_path(fe.id) %></li>
            <%end%>
          </ul>
        </div>
        <div class="six wide right floated column">
          <img src="https://static.pexels.com/photos/26906/pexels-photo-26906.jpg" class="ui large bordered rounded image">
        </div>
      </div>
    </div>
  </div>
